$bg-color: #1c1c1c;
$dropdown-bg: #282828;
$dropdown-bg-active: #32302f;
$head-bg: #1c1c1c;
$tag-bg-color: #1c1c1c;
$file-row-active-bg: #282828;
$private-bg: #504945;
$comment-bg: #3c3836;
$block-bg: #3c3836;

$border-color: #a89984;
$light-border-color: #d5c4a1;
$highlight-border-color: #fe8019;

$font-size: 12px;

$text-color: #ebdbb2;
$bright-text-color: #fbf1c7;
$text-green-color: #8e707c;
$text-red-color: #fb4934;
$text-black-color: #000;

$link-color: #ebdbb2; // #485588;
$link-color-selected: #485588;
$faded-link-color: #83a598;

$diff-addition: #103605;
$diff-deletion: #cc241d;
$diff-addition-accent: #8ec07c;
$diff-deletion-accent: #fb4934;
$diff-accent-font-color: #928374;

$code-bg: #1c1c1c;
$code-default-color: #ebdbb2;
$code-snippet-color: #d3869b;

$button-bg-image-c1: #535659;
$button-bg-image-c2: #424549;
$button-bg-image: linear-gradient(
	-180deg,
	$button-bg-image-c1 0%,
	$button-bg-image-c2 90%);
$button-bg-image-hover-c1: #636669;
$button-bg-image-hover-c2: #525559;
$button-bg-image-hover: linear-gradient(
	-180deg,
	$button-bg-image-hover-c1 0%,
	$button-bg-image-hover-c2 90%);
$button-primary-bg-image-c1: #8ec07c; // #34d058;
$button-primary-bg-image-c2: #689d6a; // #28a745;
$button-primary-bg-image: linear-gradient(
	-180deg,
	$button-primary-bg-image-c1,
	$button-primary-bg-image-c2 90%);
$button-primary-bg-image-hover-c1: #8ec07c; // #2fcb53;
$button-primary-bg-image-hover-c2: #689d6a; // #269f42;
$button-primary-bg-image-hover: linear-gradient(
	-180deg,
	$button-primary-bg-image-hover-c1,
	$button-primary-bg-image-hover-c2 90%);
$button-danger-bg-image-c1: #636669;
$button-danger-bg-image-c2: #525559;
$button-danger-bg-image: linear-gradient(
	-180deg,
	$button-danger-bg-image-c1 0%,
	$button-danger-bg-image-c2 90%);
$button-danger-bg-image-hover-c1: #de4450;
$button-danger-bg-image-hover-c2: #db2431;
$button-danger-bg-image-hover: linear-gradient(
	-180deg,
	$button-danger-bg-image-hover-c1,
	$button-danger-bg-image-hover-c2 90%);
$button-active-color: #458588;

$codecov-num-bg-color-missed: #fb4934;
$codecov-num-bg-color-hit: #83c07c;
$codecov-num-bg-color-partial: #fabd2f;

$bg-pending-color: #d79921;

$alert-bg-color: #3c3836;
$alert-warning-bg-color: #fe8019;

// Scrollbar
$scrollbar-track: #464542;
$scrollbar-thumb: rgba(85, 85, 85, 0.7);

// Profile contributions graph variables
$contrib-color: #83c07c;
$contrib-color-1: #fbf1c7;
$contrib-color-2: lighten($contrib-color, 50%);
$contrib-color-3: lighten($contrib-color, 30%);
$contrib-color-4: lighten($contrib-color, 15%);
$contrib-color-5: $contrib-color;
/*
// Inverted contribution colors (dark to light)
$contrib-color-1: darken($contrib-color, 15%);
$contrib-color-2: $contrib-color;
$contrib-color-3: lighten($contrib-color, 15%);
$contrib-color-4: lighten($contrib-color, 30%);
$contrib-color-5: lighten($contrib-color, 50%);
*/
